.bulunamadi-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 580px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 15px;
    height: 310px;
    z-index: 1000;
}
.bulunamadi-wrapper header h2{
    background-color: #477594;
    color: white;
    padding: 20px;
    font-size: 17px;
    border-radius: 15px;
}
.bulunamadi-wrapper section{
    padding: 20px;
    font-size: x-large;
}
.bulunamadi-wrapper footer{
    position: absolute;

}
.bulunamadi-wrapper footer button{
    position: absolute;
    background-color: #477594;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 230px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 180px;
    bottom: -30px !important;
}
