.profile-wrapper{
    display: flex;
    flex-direction: column;   
    margin-bottom: 20px;
    width: 222px;
    height: 343px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 10px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.profile-wrapper::after{
    content : "";
    display: table;
    clear: both;
}
.profile-img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}
.profile-img img{
    width: 88%;
    height: 88%;
    border-radius: 25px;
    object-fit: cover;
    margin-left: 10px;
}
.profile-text{

    margin-left: 48px;
    margin-bottom: 22px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.profile-btn{
    margin-left: 14px;
    margin-bottom: 7px;
}
.profile-link {
    text-decoration: none;
    color: #fff;
    background-color: #5d5959;
    border: 1px solid #5d5959;
    padding: 12px 30px;
    margin-left: 14px;
    margin-bottom: 8px;
    border-radius: 25px;
    font-size: larger;
    text-size-adjust: 100%;

}