/* DepremHaritasi.css */

.harita-container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 80%;
    float: left;
}
.harita-container::after {
    content: "";
    clear: both;
    display: table;
}
.harita-sag-taraf {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(94, 129, 129);
    width: 300px;
    height: 500px;
    padding-left: 10px;
    margin-left: 10px;
    
}

.legend-marker {
    margin-right: 5px;
}

.ico1 {
    margin-bottom: 3px;
    margin-left: 5px;
}

.ico2 {
    margin-bottom: 1px;
    margin-left: 5px;
}

.ico3 {
    margin-left: 3px;
}

.ico4 {
    margin-top: 1px;
    margin-left: 2px;
}

.ico5 {
    margin-left: 2px;
}

.ico6 {
    margin-left: 2px;
}
.harita-sag-taraf h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.harita-sag-taraf label{
    margin-bottom: 10px;
    margin-left: 25px;
}
.son-deprem {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .son-depremler {
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    
  }
  .son-deprem-title{
    margin-left: 30px;
    margin-top: 40px;
  }
  .depremler-tablo {
    margin-top: 50px;
  }
  
  .depremler-tablo table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .depremler-tablo th, .depremler-tablo td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .depremler-tablo th {
    background-color: #f2f2f2;
  }
  
  .depremler-tablo tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .depremler-tablo tbody tr:hover {
    background-color: #ddd;
  }
  
  .depremler-button {
    display: flex;
    justify-content: space-between;
    margin: 20px 60px 10px 60px;

  }
  
  .depremler-button button {
    
    padding: 8px 12px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .depremler-button button:hover {
    background-color: #0056b3;
  }
  
  

  
