
.destek-iste-container{
    position: relative; /* Container'ı referans alarak konumlandırma yapabilmek için */
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-left: 517px;
    margin-bottom: 100px;
    background: #F5FCFC;
    padding-bottom: 30px;
    border-radius: 30px;
    width: 500px;
    height: 740px;
}
.destek-gunes{
    position: absolute;
}
.destek-gunes img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
}
.destek-iste-title{
    font-size: 20px;
    font-style: italic;
    margin-top: 30px;
    margin-left: 145px;
}
.destek-cicek{
    position: absolute;
}
.destek-cicek img{
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-left: 360px;
}
.destek-atac{
    position: absolute;
}
.destek-atac img{
    width: 194px;
    height: 50px;
    margin-top: 10px;
    margin-left: 145px;
}
.destek-baslik1{
    margin-top: 30px;
    margin-left: 50px;
}
.destek1-icerik{
    position: absolute;
    margin-left: 200px;
    margin-top: 160px;
    
}
.destek1-icerik textarea{
    width: 240px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}
.destek-baslik2{
    margin-top: 60px;
    margin-left: 48px;
}
.destek2-icerik{
    position: absolute;
    margin-left: 200px;
    margin-top: 280px;
}
.destek2-icerik textarea{
    width: 240px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}
.destek-baslik3{
    margin-top: 20px;
    margin-left: 52px;
}
.destek3-icerik{
    position: absolute;
    margin-left: 200px;
    margin-top: 350px;
}
.destek3-icerik textarea{
    width: 240px;
    height: 52px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}
.destek-baslik4{
    margin-top: 20px;
    margin-left: 52px;
}
.destek4-icerik{
    position: absolute;
    margin-left: 200px;
    margin-top: 430px;
}
.destek4-icerik select{
    width: 240px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
}
.destek-baslik5{
    margin-top: 20px;
    margin-left: 48px;
}
.destek5-icerik {
    position: absolute;
    display: flex;
    flex-wrap: wrap; /* Satırı sardır */
    margin-left: 60px;
    margin-top: 535px;
}

.destek5-icerik > div {
    flex: 0 0 50%; /* Yarısı kadar genişlik */
}


.category-group{
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-right: 40px;
    margin-left: 5px;
}
.destek-al-uyari{
    position: absolute;
    margin-top: 630px;
    margin-left: 50px;
    font-size: 12px;
    color: red;
}
.destek-al-talebi-gonder{
    position: absolute;
    margin-top: 670px;
    margin-left: 159px;
    
}
.destek-al-talebi-gonder button{
    height: 50px;
    background-color: #243B48;
}
