.talep-kisa-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin: 10px;
}

.talep-kisa-aktif h2{
    position: absolute;
    font-size: xx-large;
    right: 290px;
    bottom: 30px;
}
.talep-kisa-ortacizgi{
    position: absolute;
    width: 2px;
    height: 130px;
    margin-right: 165px;
    background-color: #d3d3d3;
}
.talep-kisa-ozet h4{
    font-size: medium;
    margin-left: 100px;
    text-align: justify;
}