.talepcard-wrapper{
    display: flex;
    flex-direction: column;   
    margin-bottom: 50px;
    width: 222px;
    height: 343px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    padding: 10px;
    position: relative;
    top: -350px;
    right: 28px;
    float: right;
}
.talepcard-wrapperr::after{
    content : "";
    display: table;
    clear: both;
}
.talepcard-foto{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}
.talepcard-foto img{
    width: 94%;
    height: 82%;
    border-radius: 25px;
    object-fit: cover;
    margin-left: 8px;
}
.talepcard-button{
    margin-left: 15px;
    margin-bottom: 5px;
}
.talepcard-button button {
    text-decoration: none;
    color: #fff;
    background-color: #5d5959;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: larger;
    text-size-adjust: 100%;
}
.taleplerim-card{
    text-decoration: none;
}