.haber-card-wrapper {
    width: 100%;
    max-width: 423px; /* Kartın maksimum genişliği */
    margin: 20px 40px;
    border: 1px solid #ddd; /* Kart kenarlık */
    border-radius: 8px; /* Kart köşe yuvarlaklığı */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease; /* Dönüşüm için geçiş efekti */
    overflow: hidden; /* İçerik dışarı taşmasın */
    background-color: #ffffff; /* Kart arka plan rengi */
    
  }
  
  .haber-card-wrapper:hover {
    transform: translateY(-5px); /* Hover durumunda hafif yukarı kaydırma */
  }
  
  
.haber-card-resim {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 6px;
  }
  .haber-card-resim p {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
  } 
  
  .haber-card-resim img {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .haber-card-resim:hover img {
    transform: scale(1.05);
  }
  
  .haber-card-title {
    margin-top: 10px;
    text-align: center;
  }
  
  .haber-card-title h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .haber-card-cizgi {
    border-top: 1px solid #ddd;
    margin: 10px 0;
    width: 80%;
    margin-left: 10%;
  }
  
  .haber-card-aciklama {
    font-size: 14px;
    color: #555;
    text-align: center;
    padding: 5px;
    text-align: justify;
  }
  

