.aktif-talepler-title {
  font-size: 17px;
  font-weight: bold;
  color: #000;
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
}
.talepler-kisa-ekran {
  display: flex;
  margin-bottom: 150px;
  
 
}
.talep-kutu-taleplerim {
  display: flex;
  flex-direction: column;  
}