/* 
.container-forget{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 250px;
    background: #fef;
    padding-bottom: 30px;
    border-radius: 30px;
    width: 450px;
    height: 300px;
}
 
.text-forget{
    position: absolute;
    color: #5d5959;
    font-size: 48px;
    font-weight: 700;
    padding-left: 30px;


}
.underline-forget{
    position: absolute;
    width: 80%;
    height: 7px;
    background-color: #5d5959;
    border-radius: 9px;
    margin-top: 70px;
    padding: 0 0px;
    margin-left: 40px;
}
.inputs-forget{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;;
    margin-top: 90px;
}
.input-forget{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background-color: #c3b9b9;
    border-radius: 20px;
    box-sizing: border-box;
   
}
.inputs-forget .input-forget{
    width: 80%;
    height: 40px;
    background-color: #c3b9b9;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 70px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 45px;
    margin-top: 70px;
}
.inputs-forget .input-forget input{
    height: 50px;
    width: 300px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #5e5a5a;
    padding-left: 0px;
}
.submit-container-forget{
    position: absolute;
    display: flex;

    margin: 0px;
    left: calc(45%);
    margin-top: 280px;
}
.submit-forget{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 52px;
    color: #fff;
    background-color: #7c6262;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer; 
}
 */
*{
    box-sizing: border-box;
}
.container-forget{
    position: relative; /* Container'ı referans alarak konumlandırma yapabilmek için */
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 250px;
    background: #F5F5F5;
    padding-bottom: 30px;
    border-radius: 30px;
    width: 650px;
    height: 300px;
}
.img-forget{
    display: flex;
    align-items: center;
    width: 40%;
    float: left;
    padding-left: 20px;
 
    
}
.img-forget img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.header-forget{
    position: absolute;
    display: column;
    flex-direction: column;
    margin: auto;
    margin-top: 45px;
    background: #fef;
    padding-bottom: 50px;
    border-radius: 30px;
    background-color:#F5F5F5 ;
}
.text-forget{
    position: absolute;
    display: column;
    color: #5d5959;
    font-size: 38px;
    font-weight: 700;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-left: 260px;
}
.underline-forget{
    position: absolute;
    width: 40%;
    height: 7px;
    background-color: #5d5959;
    border-radius: 9px;
    margin-top: 60px;
    margin-left: 312px;
}
.inputs-forget{
    position: absolute;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;;
    margin-top: 105px;
    margin-left: 260px;
}
.inputs-forget input{
    width: 80%;
    height: 40px;
    background-color: #c3b9b9;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 45px;
    margin-top: 90px;
    padding-right: 20px;
}
.label-forget{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 25px;;
    margin-top: 20px;
    margin-left: 68px;
    font-size: 16px;
    font-weight: 500;
    color: #5d5959;
}
.submit-container-forget{
    position: absolute;
    display: flex;
    margin: 0px;
    left: calc(55%);
    margin-top: 260px;
}
.submit-forget{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 52px;
    color: #fff;
    background-color: #7c6262;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer; 
}
