

.kart {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-left: 140px;
    margin-top: 25px;
    width: 28%;
    height: auto;
    margin-bottom: 50px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: #eae4e4;
}

.kart-foto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.kart-baslik {
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 80px;
}

.kart-zaman {
    color: #666;
    margin-top: 10px;
    margin-left: 80px;
}

.kart-twitter {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.kart-icerik {
    padding-right: 10px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.rating-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.rating-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rating-item span {
    margin-left: 5px;
}

.kart-alt {
    display: flex;
    align-items: center;
}

.kart-yorum {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.kart-yorum img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.kart-yorum input[type="text"] {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    width: 380px;
}

.yorumlar-sosyal {
    margin-top: 20px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
}

.yorumlar-sosyal h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.yorumlar-liste-sosyal {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.yorum-sosyal {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.yorum-icerik-sosyal {
    flex: 1;
    margin-left: 10px;
}

.yorum-icerik-button-sosyal {
    position: absolute;
    background-color: transparent;
    border: none;
    color: #f00;
    cursor: pointer;
    margin-left: 280px;
    bottom: 77px !important;
}
.begen{
    color: green;
    cursor: pointer;
}

.begenme{
    color: red ;
    cursor: pointer;
}
.tweet-image-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.tweet-image-container img {
    max-width: 100%;
    border-radius: 5px;
}